/* Animación de cambio de color de fondo */
@keyframes cambioColor {
    0% { background: #6a11cb; }
    25% { background: #2575fc; }
    50% { background: #ff6f61; }
    75% { background: #4caf50; }
    100% { background: #6a11cb; }
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    animation: cambioColor 10s infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilos del formulario */
form {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

/* Estilos de los contenedores de los campos */
div {
    margin-bottom: 15px;
}

/* Estilos de las etiquetas */
label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

/* Estilos de los inputs */
input, select {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
    font-size: 14px;
    outline: none;
    transition: 0.3s;
}

/* Estilos de error para inputs */
input.error {
    border: 2px solid red;
    background-color: #ffe5e5;
}

/* Estilos de los botones */
button {
    
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background-color: gray;
}

/* Estilos específicos para inputs tipo fecha */
input[type="date"] {
    border-radius: 5px;
    padding: 10px;
    width: 90%;
}
